commands.md
core/cmd/main.exe
msvc_auth/main.exe
msvc_codesender/main.exe
msvc_codesender/readme.md
msvc_codesender/.env
test
msvc_auth/private.pem
msvc_auth/public.pem
msvc_access/main.exe
cookies.txt
core/cmd/main.exe
deploy/k8s/README.md
core/cmd/main.exe
.gitignore
